<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INFO3180 Flask App - Lab 1</title>
    <link rel="stylesheet" href="/static/css/app.css">
  </head>
  <body>
    <div class="container">
      <h1>Learning Flask</h1>
      <p>This is the firat paragraph of the wedsite. We have removed all the gibberish from the previous pargagrapg
      and replaced it this this text just to see what will happen. This is a new and interesting tool (Flask) as it makes
      things a lot less complicated.</p>
    </div>
  </body>
</html>
